.fs-15 {
    font-size: 15px;
    color: darkgrey;
}
.fs-25 {
    font-size: 25px;
    color: darkgrey;
}
.fs-30 {
    font-size: 30px;
    color: darkgrey;
}
.fs-35 {
    font-size: 35px;
    color: darkgrey;
}
.fs-40 {
    font-size: 40px;
    color: darkgrey;
}
.fs-50 {
    font-size: 50px;
    color: darkgrey;
}
